.no_highlight {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
  background: #E9E1CF;
  font-family: Georgia, "times new roman", times, serif;
  color: #fff;
}

body p {
  font-family: Georgia, "times new roman", times, serif;
  font-size: 18px;
  line-height: 2.5em;
}

header#title {
  background-color: #7195A3;
  color:            #fff;

  padding:        1em 0;
  margin-bottom:  5px;
  text-shadow:    0px 2px 3px #000;

  -webkit-box-shadow: 0px 8px 6px -6px #000;
     -moz-box-shadow: 0px 8px 6px -6px #000;
       -o-box-shadow: 0px 8px 6px -6px #000;
          box-shadow: 0px 8px 6px -6px #000;
}

header#title h1 {
  text-align:     center;
  font-size:      2em;
  letter-spacing: .2em;
}

section#flip_on_click_demo {
  background: url('../images/sp/norwegian_rose.png');
  padding:    3em 1em 3em 1em;
  margin:     0 auto;
}

section#flip_on_hover_demo {
  background: url('../images/sp/norwegian_rose.png');
  padding:    1em 1em 3em 1em;
  margin:     0 auto;
}

section#flip_on_click_usage {
  background: url('../images/sp/black_lozenge.png');
  border-top: 1px solid #C8C8C8;
  padding:    1em 1em 3em 1em;
  margin:     0 auto;
}


section#flip_on_hover_usage {
  background: url('../images/sp/bedge_grunge.png');
  border-top: 1px solid #E8E8E8;
  padding:    1em 1em 3em 1em;
  margin:     0 auto;
  color:      #000;
}

section#javascript_incantation {
  background: url('../images/sp/use_your_illusion.png');
  border-top: 1px solid #C8C8C8;
  padding:    1em 1em 3em 1em;
  margin:     0 auto;
  color:      #fff;
}

section#license_and_credits {
  background: url('../images/sp/subtle_surface.png');
  border-top: 1px solid #C8C8C8;
  padding:    1em 1em 3em 1em;
  margin:     0 auto;
  color:      #000;
}

.hover_card {
  width:  600px;
  height: 338px;
}

#hover_to_flip_message {
  color: #000;
  font-size: 3em;
  font-style: italic;
  text-align: center;
}

#hover_card_one_front {
  background:  url('../images/sp/wild_oliva.png');
}

#hover_card_one_text {
  padding-top: 90px;
  margin:      0 25px;
  text-align:  center;
  color:       #fff;
  font-size:   4.4em;
  font-style: italic;
}

#hover_card_one_back {
}

p span.highlight_dark_bg {
  display:          inline;
  padding:          0.2em 0.2em;
  background-color: #625D55;
  color:            #fff;
  border-radius:    5px;
}

p span.highlight_light_bg {
  display:          inline;
  padding:          0.2em 0.2em;
  background-color: #625D55;
  color:            #fff;
  border-radius:    5px;
}

button#flip_card_button {
  background-color: hsl(200,80%,40%);
	border: 1px solid hsl(200,80%,30%);
  margin: 1.5em auto;
}

button {
  display: block;
  margin: 0 10px;
	width: 120px;
  height: 40px;
  border-radius: 20px;
	color: white;
  font-size: 15px;
  font-weight: bold;

  -webkit-background-image: linear-gradient(top, hsla(0,0%,100%,.2) 1px, hsla(0,0%,100%, 0) 1px, hsla(0,0%,0%, .1) 100% );
     -moz-background-image: linear-gradient(top, hsla(0,0%,100%,.2) 1px, hsla(0,0%,100%, 0) 1px, hsla(0,0%,0%, .1) 100% );
       -o-background-image: linear-gradient(top, hsla(0,0%,100%,.2) 1px, hsla(0,0%,100%, 0) 1px, hsla(0,0%,0%, .1) 100% );
          background-image: linear-gradient(top, hsla(0,0%,100%,.2) 1px, hsla(0,0%,100%, 0) 1px, hsla(0,0%,0%, .1) 100% );

  -webkit-box-shadow: 0 60px 12px -18px hsla(0,0%,0%,.1),
    					        0 60px 20px -12px hsla(0,0%,0%,.1);
     -moz-box-shadow: 0 60px 12px -18px hsla(0,0%,0%,.1),
    					        0 60px 20px -12px hsla(0,0%,0%,.1);
       -o-box-shadow: 0 60px 12px -18px hsla(0,0%,0%,.1),
    					        0 60px 20px -12px hsla(0,0%,0%,.1);
          box-shadow: 0 60px 12px -18px hsla(0,0%,0%,.1),
    					        0 60px 20px -12px hsla(0,0%,0%,.1);
}

#bicycle_ghost_card {
  margin: 0 auto;
  width:  380px;
  height: 500px;
}

#bicycle_card_front {
  background: url('../images/bicycle-blackghost-2nd-edition.jpg') -350px no-repeat;
}

#bicycle_card_back {
  background: url('../images/bicycle-blackghost-2nd-edition.jpg') no-repeat;
}

footer {
  background:     url('../images/sp/escheresque_ste.png');
  border-top:     1px solid #C8C8C8;
  color:          #fff;
  text-shadow:    0px 2px 3px #000;
  text-align:     center;
  letter-spacing  .15em;
  word-spacing:   .2em;
  padding-top:    30px;
  padding-bottom: 30px;
}

footer p {
  margin-bottom: 0;
}
